$neutral-50: #eee;
$neutral-100: #ddd;
$neutral-200: #ccc;
$neutral-300: #aaa;
$neutral-400: #888;
$neutral-500: #555;
$neutral-600: #444;
$neutral-700: #333;
$neutral-800: #222;
$neutral-900: #111;

$blue-50: #ebebf5;
$blue-800: #1b2430;

$pink-200: #e2b8e4;
$pink-50: #f7e9f7;

$purple-800: #1c0c5b;
$purple-600: #3d2c8d;
