.bar {
  position: relative;
  background-color: $pink-200;
  width: min(80vw, 500px);
  aspect-ratio: 10/1;
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;

  &__progress {
    position: absolute;

    height: 100%;
    width: 100%;
    background-color: $blue-50;
    opacity: 0.8;
    background: repeating-linear-gradient(
      -45deg,
      $purple-800,
      $purple-800 5px,
      $purple-600 5px,
      $purple-600 12px
    );
    background-size: 400% 400%;
    animation: gradient 120s linear infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
